.main-menu li { padding:0; }
.filter-location label { font-weight:normal !important; }
.form-block label { font-weight:normal !important; }
.footer_menu { font-weight:700; }

.menu-mlid-461 .img-holder { height:296px; }
.menu-mlid-555 .img-holder { margin:0 -42px 0 0; height:175px; }
.menu-mlid-751 .img-holder { height:238px; }
.menu-mlid-557 .img-holder { margin:0 -42px 0 0; height:175px; }
.menu-mlid-558 .img-holder { margin:0 -8px 0 0; height:160px; }
.menu-mlid-559 .img-holder { height:160px; }

body.node-type-result #sidebar .col-holder:first-child .info-col,
body.node-type-store-location #sidebar .col-holder:first-child .info-col {
	border:1px solid #f0efec;
	margin:0 0 25px 0;
	padding:21px 21px 28px 14px;
}

@media only screen and (max-width:767px) {
	.top-menu ul li.menu-mlid-386,
	.top-menu ul li.menu-mlid-387 { display:none; }
}
