.main-menu li { padding:0; }
.filter-location label { font-weight:normal !important; }
.form-block label { font-weight:normal !important; }
.footer_menu { font-weight:700; }

body.node-type-result #sidebar .col-holder:first-child .info-col,
body.node-type-store-location #sidebar .col-holder:first-child .info-col {
	border:1px solid #f0efec;
	margin:0 0 25px 0;
	padding:21px 21px 28px 14px;
}

.main-menu > li.menu-mlid-559 > .dropdown {
    width: 200px;
}

@media only screen and (max-width:767px) {
	.top-menu ul li.menu-mlid-386,
	.top-menu ul li.menu-mlid-387 { display:none; }
}

.header-holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.addtoany {
    display: block;
    margin-top: 0.6em;
}

.addtoany ul.inline li {
    padding: 0;
}