<script type="text/javascript">
	var locationCoordinates = [
		{
			type:"FeatureCollection",
			features:[{
					type:"Feature",
					geometry:{
						type:"Point",
						coordinates:[32.1563207,-94.3466769]
					},
					properties:{
						title: "Brookshire Brothers",
						address: "412 W. Panola Carthage, Texas 75633",
						tel: "903-693-3232",
						hrefad: "hrefad1",
						hrefdetails: "hrefdetails1",
					},
					keywords: "Brookshire Brothers"
			}]
		}
	]
</script>